[submodule "AV-ByPass/Ebowla"]
	path = AV-ByPass/Ebowla
	url = https://github.com/Genetic-Malware/Ebowla.git
[submodule "Networking/Responder"]
	path = Networking/Responder
	url = https://github.com/lgandx/Responder.git
[submodule "Local/PrivilegeEscalation/Windows/Sherlock"]
	path = Local/PrivilegeEscalation/Windows/Sherlock
	url = https://github.com/rasta-mouse/Sherlock.git
[submodule "WordLists/SecLists"]
	path = WordLists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "Local/static-binaries"]
	path = Local/static-binaries
	url = https://github.com/andrew-d/static-binaries.git
[submodule "Local/static-tools"]
	path = Local/static-tools
	url = https://github.com/ZephrFish/static-tools
[submodule "Web/sqlmap-dev"]
	path = Web/sqlmap-dev
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "Local/pspy"]
	path = Local/pspy
	url = https://github.com/DominicBreuker/pspy.git
[submodule "Local/PrivilegeEscalation/Windows/PowerSploit"]
	path = Local/PrivilegeEscalation/Windows/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "Utils/impacket"]
	path = Utils/impacket
	url = https://github.com/CoreSecurity/impacket.git
[submodule "Utils/pwnedOrNot"]
	path = Utils/pwnedOrNot
	url = https://github.com/thewhiteh4t/pwnedOrNot.git
[submodule "Local/PrivilegeEscalation/Windows/ADAPE-Script"]
	path = Local/PrivilegeEscalation/Windows/ADAPE-Script
	url = https://github.com/hausec/ADAPE-Script.git
[submodule "Networking/badKarma"]
	path = Networking/badKarma
	url = https://github.com/r3vn/badKarma.git
[submodule "Web/wfuzz"]
	path = Web/wfuzz
	url = https://github.com/xmendez/wfuzz.git
[submodule "Web/Sublist3r"]
	path = Web/Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "Scanners/arachni"]
	path = Scanners/arachni
	url = https://github.com/Arachni/arachni.git
[submodule "Anonymizers/torghost"]
	path = Anonymizers/torghost
	url = https://github.com/susmithHCK/torghost.git
[submodule "WordLists/IntruderPayloads"]
	path = WordLists/IntruderPayloads
	url = https://github.com/1N3/IntruderPayloads.git
[submodule "WordLists/fuzzdb"]
	path = WordLists/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "WordLists/PayloadsAllTheThings"]
	path = WordLists/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "Phishing/evilginx2"]
	path = Phishing/evilginx2
	url = https://github.com/kgretzky/evilginx2.git
[submodule "Shells/unicorn"]
	path = Shells/unicorn
	url = https://github.com/trustedsec/unicorn.git
[submodule "Web/tplmap"]
	path = Web/tplmap
	url = https://github.com/epinna/tplmap.git
[submodule "Crypto/Padding-oracle-attack"]
	path = Crypto/Padding-oracle-attack
	url = https://github.com/mpgn/Padding-oracle-attack.git
[submodule "Tunneling/chisel"]
	path = Tunneling/chisel
	url = https://github.com/jpillora/chisel.git
[submodule "Utils/exe2hex"]
	path = Utils/exe2hex
	url = https://github.com/g0tmi1k/exe2hex.git
[submodule "Local/PrivilegeEscalation/Windows/windows-kernel-exploits"]
	path = Local/PrivilegeEscalation/Windows/windows-kernel-exploits
	url = https://github.com/SecWiki/windows-kernel-exploits.git
[submodule "Crypto/debian-ssh"]
	path = Crypto/debian-ssh
	url = https://github.com/g0tmi1k/debian-ssh.git
[submodule "Web/bruteforce-http-auth"]
	path = Web/bruteforce-http-auth
	url = https://github.com/erforschr/bruteforce-http-auth.git
[submodule "BinExploit/ROPgadget"]
	path = BinExploit/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
[submodule "AD/BloodHound"]
	path = AD/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound.git
[submodule "AD/ACLPwn"]
	path = AD/ACLPwn
	url = https://github.com/fox-it/Invoke-ACLPwn.git
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "Web/ffuf"]
	path = Web/ffuf
	url = https://github.com/ffuf/ffuf.git
[submodule "Shells/winrm-cli"]
	path = Shells/winrm-cli
	url = https://github.com/masterzen/winrm-cli.git
[submodule "AD/BloodHound.py"]
	path = AD/BloodHound.py
	url = https://github.com/fox-it/BloodHound.py.git
[submodule "Deserialization/ysoserial.net"]
	path = Deserialization/ysoserial.net
	url = git@github.com:pwntester/ysoserial.net.git
[submodule "Deserialization/ysoserial"]
	path = Deserialization/ysoserial
	url = git@github.com:frohoff/ysoserial.git
[submodule "AD/kerbrute"]
	path = AD/kerbrute
	url = git@github.com:TarlogicSecurity/kerbrute.git
[submodule "Networking/Pureftpd-FXPAbuse"]
	path = Networking/Pureftpd-FXPAbuse
	url = https://github.com/Diefunction/Pureftpd-FXPAbuse.git
[submodule "Utils/nishang"]
	path = Utils/nishang
	url = git@github.com:samratashok/nishang.git
[submodule "AV-ByPass/demiguise"]
	path = AV-ByPass/demiguise
	url = git@github.com:nccgroup/demiguise.git
[submodule "Windows/dpapilab"]
	path = Windows/dpapilab
	url = git@github.com:dfirfpi/dpapilab.git
[submodule "Windows/KeeThief"]
	path = Windows/KeeThief
	url = git@github.com:HarmJ0y/KeeThief.git
[submodule "AD/SharpGPOAbuse"]
	path = AD/SharpGPOAbuse
	url = https://github.com/FSecureLABS/SharpGPOAbuse
[submodule "Obfuscation/PyFuscation"]
	path = Obfuscation/PyFuscation
	url = https://github.com/CBHue/PyFuscation.git
[submodule "Local/PrivilegeEscalation/All/privilege-escalation-awesome-scripts-suite"]
	path = Local/PrivilegeEscalation/All/privilege-escalation-awesome-scripts-suite
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite.git
[submodule "Local/Debuggers/cefdebug"]
	path = Local/Debuggers/cefdebug
	url = https://github.com/taviso/cefdebug.git
[submodule "Local/local-exploits"]
	path = Local/local-exploits
	url = git@github.com:bcoles/local-exploits.git
[submodule "Crypto/RsaCtfTool"]
	path = Crypto/RsaCtfTool
	url = git@github.com:Ganapati/RsaCtfTool.git
[submodule "Wireless/hcxdumptool"]
	path = Wireless/hcxdumptool
	url = https://github.com/ZerBea/hcxdumptool.git
[submodule "Local/PrivilegeEscalation/Linux/linux-smart-enumeration"]
	path = Local/PrivilegeEscalation/Linux/linux-smart-enumeration
	url = https://github.com/diego-treitos/linux-smart-enumeration.git
[submodule "Networking/snmp"]
	path = Networking/snmp
	url = git@github.com:dheiland-r7/snmp.git
[submodule "PasswordCracking/password_cracking_rules"]
	path = PasswordCracking/password_cracking_rules
	url = git@github.com:NotSoSecure/password_cracking_rules.git
[submodule "PostExploitation/Ghostpack-CompiledBinaries"]
	path = PostExploitation/Ghostpack-CompiledBinaries
	url = git@github.com:r3motecontrol/Ghostpack-CompiledBinaries.git
[submodule "Utils/Pentest-Cheatsheets"]
	path = Utils/Pentest-Cheatsheets
	url = git@github.com:Tib3rius/Pentest-Cheatsheets.git
[submodule "PostExploitation/firefox_decrypt"]
	path = PostExploitation/firefox_decrypt
	url = git@github.com:unode/firefox_decrypt.git
[submodule "PostExploitation/UltimateAppLockerByPassList"]
	path = PostExploitation/UltimateAppLockerByPassList
	url = git@github.com:api0cradle/UltimateAppLockerByPassList.git
