[submodule "AV-ByPass/Ebowla"]
	path = AV-ByPass/Ebowla
	url = https://github.com/Genetic-Malware/Ebowla.git
[submodule "Networking/Responder"]
	path = Networking/Responder
	url = https://github.com/lgandx/Responder.git
[submodule "Local/PrivilegeEscalation/Windows/Sherlock"]
	path = Local/PrivilegeEscalation/Windows/Sherlock
	url = https://github.com/rasta-mouse/Sherlock.git
[submodule "WordLists/SecLists"]
	path = WordLists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "Local/static-binaries"]
	path = Local/static-binaries
	url = https://github.com/andrew-d/static-binaries.git
[submodule "Local/static-tools"]
	path = Local/static-tools
	url = https://github.com/ZephrFish/static-tools
[submodule "Web/sqlmap-dev"]
	path = Web/sqlmap-dev
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "Local/pspy"]
	path = Local/pspy
	url = https://github.com/DominicBreuker/pspy.git
[submodule "Local/PrivilegeEscalation/Windows/PowerSploit"]
	path = Local/PrivilegeEscalation/Windows/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "Utils/impacket"]
	path = Utils/impacket
	url = https://github.com/CoreSecurity/impacket.git
[submodule "Utils/pwnedOrNot"]
	path = Utils/pwnedOrNot
	url = https://github.com/thewhiteh4t/pwnedOrNot.git
[submodule "Local/PrivilegeEscalation/Windows/ADAPE-Script"]
	path = Local/PrivilegeEscalation/Windows/ADAPE-Script
	url = https://github.com/hausec/ADAPE-Script.git
[submodule "Networking/badKarma"]
	path = Networking/badKarma
	url = https://github.com/r3vn/badKarma.git
[submodule "Web/wfuzz"]
	path = Web/wfuzz
	url = https://github.com/xmendez/wfuzz.git
[submodule "Web/Sublist3r"]
	path = Web/Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "Scanners/arachni"]
	path = Scanners/arachni
	url = https://github.com/Arachni/arachni.git
[submodule "Anonymizers/torghost"]
	path = Anonymizers/torghost
	url = https://github.com/susmithHCK/torghost.git
[submodule "WordLists/IntruderPayloads"]
	path = WordLists/IntruderPayloads
	url = https://github.com/1N3/IntruderPayloads.git
[submodule "WordLists/fuzzdb"]
	path = WordLists/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "WordLists/PayloadsAllTheThings"]
	path = WordLists/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "Phishing/evilginx2"]
	path = Phishing/evilginx2
	url = https://github.com/kgretzky/evilginx2.git
[submodule "Shells/unicorn"]
	path = Shells/unicorn
	url = https://github.com/trustedsec/unicorn.git
[submodule "Web/tplmap"]
	path = Web/tplmap
	url = https://github.com/epinna/tplmap.git
[submodule "Crypto/Padding-oracle-attack"]
	path = Crypto/Padding-oracle-attack
	url = https://github.com/mpgn/Padding-oracle-attack.git
[submodule "Tunneling/chisel"]
	path = Tunneling/chisel
	url = https://github.com/jpillora/chisel.git
[submodule "Utils/exe2hex"]
	path = Utils/exe2hex
	url = https://github.com/g0tmi1k/exe2hex.git
[submodule "Local/PrivilegeEscalation/Windows/windows-kernel-exploits"]
	path = Local/PrivilegeEscalation/Windows/windows-kernel-exploits
	url = https://github.com/SecWiki/windows-kernel-exploits.git
[submodule "Crypto/debian-ssh"]
	path = Crypto/debian-ssh
	url = https://github.com/g0tmi1k/debian-ssh.git
[submodule "Web/bruteforce-http-auth"]
	path = Web/bruteforce-http-auth
	url = https://github.com/erforschr/bruteforce-http-auth.git
[submodule "BinExploit/ROPgadget"]
	path = BinExploit/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
[submodule "AD/BloodHound"]
	path = AD/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound.git
[submodule "AD/ACLPwn"]
	path = AD/ACLPwn
	url = https://github.com/fox-it/Invoke-ACLPwn.git
